<div class="daily-meal-page">
  <div class="nav-bar-daily-meal">
    <div class="arrow-back">
      <%= link_to dashboards_path do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </div>
    <div class="food">
      <i class="fa-solid fa-utensils fa-2xl"></i>
    </div>
  </div>
  <div class="container-daily-meal">
    <h2>Repas de la journée</h2>
    <div class="meal-card">
      <% @daily_meal.meals.each do |meal| %>
        <%= link_to meal_path(meal), class:"meal-link" do %>
          <div class="meal row">
            <img src="<%= meal.img %>" class="img-daily-meal" alt="<%= meal.title %>">
            <div class="title col-9">
              <h4><%= meal.title %></h4>
            </div>
            <div class="calories col-3">
              <p><strong><%= meal.calorie %></strong> cal</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
