<%= simple_form_for @user, url: onboardings_path, method: :patch do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :sexe %>
  <%= f.input :size %>
  <%= f.input :goal %>
  <%= f.input :training %>
  <%= f.input :body_fat %>
  <%= f.input :weight %>
  <%= f.submit %>

  <% if @user.persisted? %>
    <h1>Vos informations</h1>

    <p>Nom: <%= @user.last_name %></p>
    <p>Prénom: <%= @user.first_name %></p>
    <p>Sexe: <%= @user.sexe %></p>
    <p>Size: <%= @user.size %></p>
    <p>Goal: <%= @user.goal %></p>
    <p>Training: <%= @user.training %></p>
    <p>body_fat: <%= @user.body_fat %></p>
    <p>weight: <%= @user.weight %></p>

  <% end %>
<% end %>
