<div class="meal-home">
  <div class="nav-bar-daily-meal">
    <div class="arrow-back">
      <%= link_to daily_meals_path do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </div>
    <div class="food">
      <i class="fa-solid fa-utensils fa-2xl"></i>
    </div>
  </div>
  <div class="meal-container">
    <div class="contenu-meal">
      <img src="<%= @meal.img %>" class="img-meal" alt="<%= @meal.title %>">
      <div class="informations">
        <div class="meal-title">
          <h2><%= @meal.title %></h2>
        </div>
        <div class="meal-calories">
          <p><strong><%= @meal.calorie %></strong> cal</p>
        </div>
      </div>
    </div>
    <div class="composition">
      <h3>Composition</h3>
      <p><%= @meal.composition %></p>
    </div>
    <div class="description">
      <h3>Description</h3>
      <p><%= @meal.description %></p>
    </div>
  </div>
</div>
