<%# <div>
  <%= form_with url: foods_path, method: :get do |f| %>
<%#    <%= f.text_field_tag :query, params[:query], placeholder: "Rechercher des foods" %>
 <%#   <%= f.submit_tag "Rechercher" %>
 <%# <% end %>
<%#</div> %>

<div class="container">
  <div class="row justify-content-center">
    
    <div class="col-sm-8">
      <div id="foods">
        <% if @foods.any? %>
          <% @foods.each do |food| %>
            <h4><%= food.title %></h4>
            <p><%= food.calories %></p>
          <% end %>
        <% else %>
          <em>Sorry, no foods found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
