<div class="dashboard-page">
  <div class="container-d">
    <div class="btn-calendar">

        <i class="fa-solid fa-calendar-days fa-3x icon-dark-blue"></i>

    </div>

    <div class="search-bar">

      <%= form_with url: foods_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Taper un aliment"
          %>
        <%= submit_tag "Rechercher", name: "", class: "btn-search"%>
      <% end %>

    </div>
  </div>

  <div class="content-dashboard">
    <div data-controller="image-switch" class="col text-center">

      <%= image_tag('unpeumuscle.png', alt: 'bonhomme', class: "img-fluid", data: { image_switch_target: "image" }, style: "max-width: 400px; max-height: 600px;") %>

      <div class="progress " style="margin: auto; width: 80%; height: 40px;">
        <div class="progress-bar" role="progressbar" style="width: <%= current_user.calorie_counter %>%;" aria-valuenow="<%= current_user.calorie_counter %>" aria-valuemin="0" aria-valuemax="100"><%= current_user.calorie_counter %> kcal</div>
      </div>

      <button type="button" class="btn-training" style="background-color: #FF6E41;" data-action="click->image-switch#switch">Entraînement fait</button>
    </div>
  </div>


  <div class="nav-bar-dashboard">
    <%= link_to exercices_path, class: "nav-item" do %>
      <i class="bi bi-person"><i class="fa-solid fa-dumbbell fa-2xl"></i></i>
    <% end %>
    <%= link_to profils_path, class: "nav-item" do %>
      <i class="bi bi-person"><i class="fa-solid fa-user fa-2xl"></i></i>
    <% end %>
    <%= link_to daily_meals_path, class: "nav-item" do %>
      <i class="bi bi-person"><i class="fa-solid fa-utensils fa-2xl"></i></i>
    <% end %>
  </div>

</div>
