<div class="exercices-page">
  <div class="nav-bar-exercices">
    <div class="arrow-back">
      <%= link_to dashboards_path do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </div>
    <div class="icon-exercices">
      <i class="fa-solid fa-dumbbell fa-2xl"></i>
    </div>
  </div>

  <div class="exercices-list">
    <div class="category">
      <%= form_tag(exercices_path, method: :get) do %>
        <%= select_tag "exercice", options_from_collection_for_select(Exercice::CATEGORIES, :to_s, :to_s, params["exercice"]), class:"form-category" %>
        <%= submit_tag "go", class:"form-category-go"  %>
      <% end %>
    </div>
    <ul class="list-exe">
      <% @exercices.each do |exercice| %>
        <div class="exercice-card">
          <%= link_to exercice_path(exercice), class:"exercice-link" do %>
          <li>
          <div class="img-exercices">
              <p><%= image_tag exercice.img, width: "150", height: "150"%></p>
            </div>

            <div class="exercice-title">
              <h4><%= exercice.title %></h4>
            </div>

            <div class="exercice-composition">
              <p><%= exercice.composition %></p>
            </div>
          </li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
