<div class="exercice-page">
  <div class="nav-bar-exercices">
    <div class="arrow-back">
      <%= link_to exercices_path do %>
        <i class="fa-solid fa-arrow-left fa-lg"></i>
      <% end %>
    </div>
    <div class="icon-exercices">
      <i class="fa-solid fa-dumbbell fa-2xl"></i>
    </div>
  </div>
  <div class="exercice">
    <div class="exercice-text">
        <p class="ex-img"><%= image_tag @exercice.img, class:"img-exercice" %></p>
        <h2><%= @exercice.title %></h2>
        <h4><strong><%= @exercice.category %></strong></h4>
        <p><%= @exercice.description %></p>
    </div>
  </div>
</div>
